@import "../../layouts/_CommonStyles";

.sideBarMenuList {
    list-style-type: none;
    margin: 0;

    li {
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

        @include link-no-decoration();
        @include link-hover-no-decoration();
    }
}
