.logoComponent {
    width: 100%;
    padding: 1.25em;
    text-align: center;

    h2 {
        margin: 0em;
    }

    .image {
        margin: 0em;
        width: 6em;
        height: 6em;
    }

}
