.shareList {
    text-align: center;
    margin-top: 1em;

    ol {
        display: inline-block;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;

        li {         
            display: inline-block;
            list-style-type: none;
            padding-right: 1.5em;

            a, a:link, a:visited, a:active {
                color: hsla(0,0%,0%,0.8);
                text-decoration: none;
                box-shadow: none;
            }

            a:hover {
                color: hsl(230,55%,58%);
                text-decoration: none;
                box-shadow: none;
            }
        }
    }
}
