@import "../../layouts/_CommonStyles";

.shareList {
    text-align: center;
    margin-top: 1.75em;

    ol {
        display: inline-block;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            list-style-type: none;
            padding-right: 0.5em;

            @include link-no-decoration();
            @include link-hover-no-decoration();
        }
    }
}
