@import "../layouts/_CommonStyles";

.blogTagsList {
    ul {
        list-style-type: none;

        svg {
            margin-right: 1em;
        }

        li {
            @include link-no-decoration();
            @include link-hover-no-decoration();
        }

        .description {
            margin-left: 2.25em;
            font-size: 0.8em;
            font-style: italic;
        }
    }
}
