.blogTagsList {
    ul {
        list-style-type: none;

        svg {
            margin-right: 1em;
        }

        li {
            a,
            a:link,
            a:visited,
            a:active {
                color: hsla(0, 0%, 0%, 0.8);
                text-decoration: none;
                box-shadow: none;
            }

            a:hover {
                color: hsl(230, 55%, 58%);
                text-decoration: none;
                box-shadow: none;
            }
        }

        .description {
            margin-left: 2.25em;
            font-size: 0.8em;
            font-style: italic;
        }
    }
}
